---
layout: default
custom_js: script-1
---

{%-include back_link.html-%}
{% assign docu = site.data.documents[page.docname] %}

<h1>{{ page.title }}</h1>

    	<div class="lpan halfpanel" >
    	    	{% for n in (1..6) %}
		<p id="{{n}}" onmouseover="highLite({{n}})">{{ docu.text-en[n] }}</p>
            	{% endfor %}
    	</div>
	<div class="rpan halfpanel"> 
    	    	{% for n in (1..6) %}
		<p id="{{n}}" onmouseover="highLite({{n}})">{{ docu.text-ru[n] }}</p>
            	{% endfor %}
    	</div>


