// add panels.scss by proginoskes

// variables
$hlcolor: yellow;


//mixins and keyframes

@keyframes changebkg {
	0%   {background-color: white;}
	100% {background-color: $hlcolor;}
}

//classes
.lpan{
  float: left;
}

.rpan{
  float: right;
}

.rows{
  float: center;
  width: 100%;
}

.halfpanel{
  width: 50%;
}

.horizmenu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: center;
  li{
    display: inline;
  }
}

.hilite{
  &:hover{
	  animation-name: changebkg;
	  animation-duration: 0.2s;
  }
}

.btn {
    display: block;
    padding: 5px;
    background-color: #facade;
    &:hover{
       background-color: #ffffff;
    }
}



