---
layout: default
---

<h1>{{ site.title }}</h1>
    <ul class="horizmenu">
    	<li class="btn acks" href={{ page.ackurl }}><a class="btntext" href={{ page.ackurl }}>acknowledgements</a></li>
        <li class="btn tl" href={{ page.tlurl }}><a class="btntext" href={{ page.tlurl }}>timeline</a></li>
        <li class="btn bio" href={{ page.biourl }}><a class="btntext" href={{ page.biourl }}>biography</a></li>
        <li class="btn abt" href={{ page.abturl }}><a class="btntext" href={{ page.abturl }}>about</a></li>
        <li class="btn works" href={{ page.worksurl }}><a class="btntext" href={{ page.worksurl }}>works</a></li>
    </ul>
    
